In [5]:
import pandas as pd
import json

In [7]:
with open('data.json', 'r') as json_file:
        data = json.load(json_file)


df=pd.DataFrame(data)

In [8]:
df.head()

,title,location,time,Domaine,Fonction,Contrat,Entreprise,salaire,Niveau_etude
0,Développeur Full Stack,Rabat,29 May-17:34,Informatique / Multimédia / Internet,Informatique - Systèmes d'Information,CDI,Assurances,A discuter,Bac plus 5
1,Stage Community Manager,Casablanca,29 May-16:40,Informatique / Multimédia / Internet,Marketing/Communication,Stage,Confidentiel,A discuter,Pas important
2,DEVELOPPEUR NIVEAU 2,Casablanca,29 May-16:06,Informatique / Multimédia / Internet,Informatique - Développement,CDI,Entreprise étrangère,A discuter,Bac plus 2
3,OFFRE D'EMPLOI COMMUNITY MANAGER EN MARKETING,Casablanca,29 May-14:45,Informatique / Multimédia / Internet,Marketing/Communication,CDI,INDUS RAYONNAGE,A discuter,Bac plus 2
4,Développeur Android,Casablanca,29 May-14:44,Informatique / Multimédia / Internet,Informatique - Développement,CDI,MAZMA Technologies,A discuter,Bac plus 3

In [9]:
df.shape

(659, 9)

In [10]:
df.columns

Index(['title', 'location', 'time', 'Domaine', 'Fonction', 'Contrat',
       'Entreprise', 'salaire', 'Niveau_etude'],
      dtype='object')

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 659 entries, 0 to 658
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         659 non-null    object
 1   location      659 non-null    object
 2   time          659 non-null    object
 3   Domaine       659 non-null    object
 4   Fonction      659 non-null    object
 5   Contrat       659 non-null    object
 6   Entreprise    659 non-null    object
 7   salaire       659 non-null    object
 8   Niveau_etude  659 non-null    object
dtypes: object(9)
memory usage: 46.5+ KB

In [12]:
df.describe()

,title,location,time,Domaine,Fonction,Contrat,Entreprise,salaire,Niveau_etude
count,659,659,659,659,659,659,659,659,659
unique,597,25,620,1,25,6,399,9,6
top,Infographiste,Casablanca,17 Feb-12:20,Informatique / Multimédia / Internet,Informatique - Développement,CDI,Confidentiel,A discuter,Bac plus 2
freq,7,308,3,659,211,252,37,540,251

In [14]:
df.Fonction.unique()

array(["Informatique - Systèmes d'Information", 'Marketing/Communication',
       'Informatique - Développement',
       'Informatique - Webdesign/Infographie',
       'Informatique - Systèmes/Réseaux', 'Assistant/Ventes/Accueil',
       'Commercial professionnels (B2B)',
       'Production - Gestion/Maintenance',
       'Commercial/Technico-Commercial',
       'Informatique - Développement Hardware',
       'Commercial IT/Agence Com', 'Comptabilite/Gestion/Audit/Finance',
       'Assistant(e) / Secrétaire de direction', 'Surveillance/Sécurité',
       'Ingénierie - Telecoms/Electronique',
       'Commercial particuliers (B2C)', 'SAV/Hotline/Téléconseiller',
       'Direction/Resp. Co. et Centre de Profit', 'Import/Export',
       'Qualité/Hygiène/Sécurité/Environnement',
       'Logistique/Métiers du Transport', 'RH/Personnel/Formation',
       'Achat', 'Production - Opérateur/Manoeuvre',
       'Ingénierie - Electro-tech./Automat'], dtype=object)

In [15]:
df.salaire.unique()

array(['A discuter', '8 000 - 10 000 DH', 'Commission',
       '6 000 - 8 000 DH', '2 000 - 3 000 DH', '3 000 - 4 000 DH',
       '4 000 - 6 000 DH', 'Plus de 10 000 DH', 'Plus de 30 000 DH'],
      dtype=object)

In [16]:
df.Contrat.unique()

array(['CDI', 'Stage', 'A discuter', 'CDD', 'Anapec', 'Interim'],
      dtype=object)